.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.apple-fix {
	width: 100%;
	position: fixed;
}

.no-scroll {
	overflow: hidden;
}

.clearfix {
	&::after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	@include heightVH(100, min);//ios
	width: 100%;
	overflow-x: hidden;
	position: relative;
	&.sticky {
		overflow: unset;
	}
	.header {
		flex: 0 0 auto;
	}
	main {
		position: relative;
		flex: 1 0 auto;
	}
	.footer {
		flex: 0 0 auto;
	}
}
.table {
	display: table;
	width: 100%;
	border: 1px solid hsl(0, 0%, 70%);
	border-collapse: collapse;
	td,
	th {
		padding: 5px 10px;
		vertical-align: top;
		border-bottom: 1px solid hsl(0, 0%, 70%);
		&:not(:first-child) {
			border-left: 1px solid hsl(0, 0%, 70%);
		}
	}
	th {
		text-align: inherit;
	}
}
.is-default-hidden {
	display: none !important;
}

.rectangular-link {
	transition: $transition;
	background: $black;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: white;
	height: 37px;
	padding: 0 20px;
	letter-spacing: 0.7px;
	border-radius: 96px;

	&:hover {
		color: $black;
		background: white;
	}
}

.round-link {
	height: 37px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 22px;
	transition: $transition;
	border-radius: 96px;

	&--white {
		background: white;
		color: black;

		@media (hover: hover) {
			&:hover {
				background: black;
				color: white;
			}
		}

	}
}

.def-input {
	height: 40px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	border-radius: 8px;
	border: 1px solid #d2d2d2;
	color: #101010;
	outline: none;
	padding: 0 14px;
	transition: border-color .2s linear;
	background: white;

	&::placeholder {
		color: #A09E9D;
	}
}

.title {
	font-size: 27px;
	font-weight: 700;
	line-height: 40px;
	text-align: left;
	

	@media (max-width: $mobile ) {

		font-size: 24px;
		line-height: 29.05px;
		text-align: left;

	}
}

.mb24 {
	margin-bottom: 24px;

	@media (max-width: $mobile-big ) {
		margin-bottom: 18px;
	}
}

.text {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	color: #565555;

	@media (max-width: $mobile) {
		font-size: 18px;
		line-height: 24px;
		text-align: left;

	}
}

.blue-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 42px;
	background: $blue;
	color: white;
	transition: $transition;
	border: 1px solid $blue;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-align: left;


	@media (hover: hover) {
		&:hover {
			background: white;
			color: $blue;
		}
	}
}

main {
	padding-top: 45px;
}

.section-padding {
	padding-top: 36px;
	padding-bottom: 36px;
}
// @supports (-webkit-line-clamp: 6) {
// 	.your-class {
// 			display: -webkit-box;
// 			white-space: normal;
// 			text-overflow: ellipsis;
// 			-webkit-box-orient: vertical;//
// 			-webkit-line-clamp: 6;
// 			overflow: hidden;
// 	}
// }
