section.faq.section-padding 
  .container-sm
    h2.faq__title.title.mb24  Часто задаваемые вопросы
    .faq-list 
      .faq-list__item 
        h4 Сколько перевозчиков на платформе?
        p На платформе работают около 30 перевозчиков, каждый из которых проходит тщательную проверку. Также мы следим за качеством работы с нашими клиентами. Если перевозчик не удовлетворяет нашим высоким стандартам, мы прекращаем партнерство 
      .faq-list__item 
        h4 Пользование платформой платное?
        p Бесплатное. Также в предложениях по доставке нет никаких скрытых комиссий платформы 
      .faq-list__item 
        h4 С кем будет договор?
        p Договор будет заключен с ООО “1Ф”. Мы берем на себя обязательства по доставке груза. Вы можете выбрать КП любого перевозчика на платформе, при этом работать с ним в рамках одного договора с нашей платформой 
      .faq-list__item 
        h4 Несет ли платформа ответственность за груз?
        p Да, мы несем ответственность в рамках ФЗ "О транспортно-экспедиционной деятельности" от 30.06.2003 N 87-ФЗ