section.infosection.section-padding 
  .container-sm
    .infosection-wrp
      .infosection-wrp__left
        h2.infosection__title.title  Как работает<br> сервис 1F
        p.infosection__text.text  Регистрируетесь на платформе, создаете запрос за 2-3 минуты и получаете несколько предложений в течение 1-2 дней
      .infosection-list1 
        .infosection-list1__item 
          h4 Оформляете запрос
          p Создаете заявку на расчет<br> перевозки в пару кликов
        .infosection-list1__item 
          h4 Получаете расчет 
          p С ценами, маршрутами и стоимостью<br> дополнительных услуг
        .infosection-list1__item 
          h4 Выбираете перевозчика
          p Согласовываете все детали
        .infosection-list1__item 
          h4 Отслеживаете
          p Удобное слежение за грузоперевозкой на всех этапах доставки