section.help-to-pay.section-padding 
  .container-sm
    h2.title.mb24 Помогаем оплачивать товары в Китай и Европу
    .help-to-pay-gid 
      .help-to-pay-gid__item 
        p Платим в том числе за санкционные товары
      .help-to-pay-gid__item 
        p Срок поступления денег на фабрику до 5 банковских дней
      .help-to-pay-gid__item 
        p Таможенное оформление и полный пакет документов
      .help-to-pay-gid__item 
        p Гибкие условия договора с агентом