section.infosection
  .container 
    //- h2.infosection__title.title  Маркировка для обуви и одежды
    //-   ul.infosection-ul
    //-     li Маркировка кодами Data Matrix
    //-     li Нанесение товарных этикетокПолная
    //-     li Полная сертификация продукции

    h2.infosection__title.title  Помогаем с платежами в Китай и Европу
      ul.infosection-ul
        li В том числе за санкционные товары
        li Поступление денег на фабрику до 2 недель
        li Таможенное оформление
        li Гибкие условия договора с агентом
        li Полный пакет документов
    h2.infosection__title.title  Как работает платформа 1F
    p.infosection__text.text  Введите данные о вашей поставке, чтобы получить ставки на следующие 14-21 дней, затем войдите в систему или зарегистрируйтесь, чтобы забронировать доставку через платформу 1F
    .infosection-list1 
      .infosection-list1__item 
        h4 Фиксированные ставки
        p Расценки на доставку, которые вы получите, представляют собой фиксированные ставки в зависимости от даты отгрузки, маршрута и вида груза. Это не ориентировочные цены, а реальные рыночные ставки, которые вы можете забронировать
      .infosection-list1__item 
        h4 Мгновенное бронирование
        p Бронирование по указанной вами цене займет всего пару кликов. Если у вас нет учетной записи, ее создание займет менее 3 минут
      .infosection-list1__item 
        h4 Круглосуточная поддержка
        p Мы будем держать вас в курсе с момента создания готовности товара на фабрике до момента, когда груз прибудет на ваш склад в пункте доставки
    //- h2.infosection__title.title  Часто задаваемые вопросы
    //- .infosection-list2 
    //-   .infosection-list2__item 
    //-     h4 Фиксированные ставки
    //-     p Расценки на доставку, которые вы получите, представляют собой фиксированные ставки в зависимости от даты отгрузки, маршрута и вида груза. Это не ориентировочные цены, а реальные рыночные ставки, которые вы можете забронировать.
    //-   .infosection-list2__item 
    //-     h4 Мгновенное бронирование
    //-     p Бронирование по указанной вами цене займет всего пару кликов. Если у вас нет учетной записи, ее создание займет менее 3 минут
    //-   .infosection-list2__item 
    //-     h4 Круглосуточная поддержка
    //-     p Мы будем держать вас в курсе с момента создания готовности товара на фабрике до момента, когда груз прибудет на ваш склад в пункте доставки
    //-   .infosection-list2__item 
    //-     h4 Круглосуточная поддержка
    //-     p Мы будем держать вас в курсе с момента создания готовности товара на фабрике до момента, когда груз прибудет на ваш склад в пункте доставки
