section.advantages.section-padding
  .container-sm
    h2.title.mb24 Преимущества работы сервиса
    <div class="grid-container">
        <div class="grid-container__item">Быстрый расчёт доставки груза у нескольких перевозчиков<br> без скрытых платежей и комиссий</div>
        <div class="grid-container__item">Импорт грузов “под ключ” из Европы и Азии</div>
        <div class="grid-container__item">Сравнение цен и условий разных перевозчиков</div>
        <div class="grid-container__item">Работа с перевозчиками в рамках одного<br> договора</div>
        <div class="grid-container__item">Получение предложений в течение нескольких часов</div>
        <div class="grid-container__item">Проверенные перевозчики</div>
    </div>