.i-modal.modal-succ
    .i-modal__content.modal-appointment__content
      .modal-succ__inner 
        .img
          img(src="/img/illust.svg", alt="")
        h4 Спасибо за оставленный запрос!
        p С Вами свяжется наш специалист<br> для уточнения деталей в течение 5 минут
      button.blue-btn(data-modal-close) Понятно