.i-modal.modal-succ
    .i-modal__content.modal-appointment__content
      <svg class="i-modal__close" data-modal-close width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" r="16" fill="#F6F6F6"></circle><path d="m21.625 10.375-11.25 11.25M21.625 21.625l-11.25-11.25" stroke="#101010" stroke-linecap="round" stroke-linejoin="round"></path></svg>
      .modal-succ__inner 

        h4 Спасибо за заявку!<br> В ближайшее время наш специалист<br> свяжется с Вами
        .img
          img(src="/img/illust.svg", alt="")
