header.header
    .container 
        .header-inner 
            a(href="https://app.1f.ru").header-inner__logo
                img(src="/img/logo-header.svg", alt="").desk 
                img(src="/img/logo-header-mob.svg", alt="").mob 
            .header-inner__nav 
                a(href="https://app.1f.ru/login?reg=true" target="_blank" data-goal="landing - sing up").rectangular-link.ym-el  Регистрация
                a(href="https://app.1f.ru/login" target="_blank" data-goal="landing - log in").round-link.round-link--white.ym-el  Войти

